@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
    Layout = "_Layout";
}
<div class="content">
    <div class="slide-show-cotainer">
        <div class="slide-show">
            <div class="slide active">
                <img src="@Url.Content("~/Content/Images/wp-content/slider-image1.png")" />
            </div>
            <div class="slide">
                <img src="@Url.Content("~/Content/Images/wp-content/slider-image2.png")" />
            </div>
            <div class="slide">
                <img src="@Url.Content("~/Content/Images/wp-content/slider-image3.png")" />
            </div>
            <div class="slide">
                <img src="@Url.Content("~/Content/Images/wp-content/slider-image4.png")" />
            </div>
        </div>
        <div class="slider-nav prev"></div>
        <div class="slider-nav next"></div>
    </div>
</div>
